<section>
  @if(!isLoading()){
  <app-banner [path]="'navbar.blogs' | translate" [image]="blogsData()?.banner_image ?? ''"></app-banner>
  } @else {
  <app-banner-skeleton />
  }
  <!-- Content -->

  <div class="container">
    <div
      class="flex items-center w-full mb-15 rounded-2xl overflow-hidden shadow-[0_4px_4px_0_rgba(0,0,0,0.25)]"
    >
      <!-- Search Icon -->
      <div class="pl-[25px] pr-[22px] text-black">
        <i class="fa-solid fa-magnifying-glass w-[24px]"></i>
      </div>

      <!-- Input -->
      <input
        type="text"
        (input)="onSearchChange($event)"
        [placeholder]="'placeholder' | translate"
        class="flex-1 py-7 outline-none text-sm placeholder-gray-400"
      />

      <!-- Button -->
      <button
        class="cursor-pointer bg-[#F2F2F2] text-black px-15 py-[18px] rounded-2xl hover:bg-[#E2E2E2] transition-all text-sub-title leading-[45px] font-semibold"
      >
        {{ 'search' | translate }}
      </button>
    </div>
  </div>

  <!-- Blog -->
  @if(!isLoading()) { @if(blogsData()?.data?.length) {

  <app-blog [blogData]="blogsData()?.data" />
  <!-- Pagination Controls - Always reserve space -->
  <div class="flex justify-center mt-8 min-h-[60px]">
    <div class="custom-pagination flex items-center gap-2 rtl:flex-row-reverse">
      <!-- Previous Button -->
      <button
        [routerLink]="['/', currentLang$ | async, 'blogs']"
        [queryParams]="{ page: currentPage() - 1 }"
        [disabled]="!blogsData()?.links?.prev"
        [class.opacity-50]="!blogsData()?.links?.prev"
        class="pagination-button px-[10px] pb-[1px] bg-[#D9D9D9] rounded-[10px] font-medium text-[20px] text-black hover:bg-gray-300 disabled:cursor-not-allowed border-[1px] border-[#B4B4B4]"
      >
        {{ 'prev' | translate }}
      </button>

      <!-- Page Numbers -->
      <div class="flex gap-2">
        @for (link of blogsData()?.meta?.links; track link.label) { @if (link.page) {
        <a
          [routerLink]="['/', currentLang$ | async, 'blogs']"
          [queryParams]="{ page: link?.page }"
          [class]="{
            'bg-[#1976AC]': link?.active,
            'text-white': link?.active,
            'border-[#1976AC]': link?.active,
            'border-[#A7A0A0]': !link?.active
          }"
          class="cursor-pointer w-[30px] h-[30px] flex items-center justify-center rounded-full text-black border-2 px-[8px] py-[1px]"
        >
          {{ link?.label }}
        </a>
        } }
      </div>

      <!-- Next Button -->
      <button
        [routerLink]="['/', currentLang$ | async, 'blogs']"
        [queryParams]="{ page: currentPage() + 1 }"
        [disabled]="!blogsData()?.links?.next"
        [class.opacity-50]="!blogsData()?.links?.next"
        class="pagination-button px-[10px] pb-[1px] bg-[#D9D9D9] rounded-[10px] font-medium text-[20px] text-black hover:bg-gray-300 disabled:cursor-not-allowed border-[1px] border-[#B4B4B4]"
      >
        {{ 'next' | translate }}
      </button>
    </div>
  </div>
  } @else {
  <div class="flex justify-center items-center h-full">
    <p class="text-center text-gray-500">
      {{ 'no_blogs' | translate }}
    </p>
  </div>
  } } @else {
  <app-skeleton-loader-media [itemCount]="blogsData()?.data?.length ?? 4" [haveTransform]="false" />
  }
  <!-- Contact Form -->
  @if(!isLoading()) {
  <app-contact-form [contactUsFormImage]="blogsData()?.contact_image ?? ''"> </app-contact-form>
  } @else {
  <app-contact-us-form-skeletonloader />
  }
</section>
