
:host ::ng-deep .in-view {
  background: rgba(255, 235, 59, 0.3);
  transition: all 0.3s ease;
}
/* Owl Carousel Custom Styling */
::ng-deep .owl-carousel .owl-nav {
  padding: 0 30px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1360px) {
  ::ng-deep .owl-carousel .owl-nav {
    display: none !important;
  }
}
::ng-deep .owl-theme .owl-nav [class*='owl-']:hover,
::ng-deep .owl-theme .owl-nav [class*='owl-'] {
  background: transparent !important;
}

::ng-deep .owl-carousel .owl-nav .owl-next,
::ng-deep .owl-carousel .owl-nav .owl-prev {
  transform: rotate(180deg);
}
::ng-deep .owl-carousel .owl-carousel-inner .owl-prev, 
::ng-deep .owl-carousel .owl-carousel-inner .owl-next {
  background-color: transparent !important;
}