<div
  class="flex flex-col h-full text-center justify-between items-center pt-[9px] pb-[36px] px-[8px] rounded-[15px] border"
>
  <figure class="mb-[5px]">
    <img [src]="returnImage(card.id.toString())" class="w-[45px] h-[45px]" loading="lazy" alt="" />
  </figure>
  <p class="text-black font-medium text-sub-title line-height-[35px]">
    {{ card.title }}
  </p>

  <div
    [innerHTML]="card.body | customSanitize"
    class="editor text-secondary text-[16px] line-height-[26px]"
  ></div>
</div>
