/* @font-face {
  font-family: 'Cairo';
  src: url('/fonts/cairo/Cairo-Regular.woff2') format('woff2'),
    url('/fonts/cairo/Cairo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
 @font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai/Almarai-Regular.woff2') format('woff2'),
    url('/fonts/Almarai/Almarai-Regulay.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai/Almarai-Bold.woff2') format('woff2'),
    url('/fonts/Almarai/Almarai-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
}

