<div class="ctr pt-[52px] pb-[51px] my-[70px] relative">
  <div class="container p-0">
    <div
      class="flex flex-col lg:flex-row flex-wrap items-center text-center justify-between gap-y-4 lg:gap-x-[27px] px-0 xl:px-9"
    >
      <p
        class="text-black text-center lg:ltr:text-left lg:rtl:text-right text-sub-title font-medium"
      >
        {{ 'CTR.title' | translate }}
      </p>
      <app-main-btn [baseBtn]="baseBtn"></app-main-btn>
    </div>
  </div>
  <figure class="hidden 2xl:block absolute top-0 left-0">
    <img loading="lazy" decoding="async" class="w-[190px]" src="/images/common/ctr.svg" role="presentation" alt="" />
  </figure>
</div>
