/* Scrollbar styling */
::-webkit-scrollbar {
  width: 11px;
  max-height: 31px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 5px;
  height: 31px;
}

::-webkit-scrollbar-thumb {
  background: #1976ac;
  border-radius: 5px;
}
