<div class="relative w-full h-screen overflow-hidden bg-gray-200">
  <!-- Skeleton video background -->
  <figure class="w-full h-full object-cover">
    <img
      src="/images/meditrade.webp"
      loading="eager"
      alt="hero-skeleton"
      class="w-full h-full object-cover"
    />
  </figure>

  <!-- Overlay -->
  <div class="absolute top-0 left-0 w-full h-full bg-[#1976ACCC] z-10 flex items-center">
    <div class="container px-6 text-center text-white">
      <figure class="w-[180px] md:w-[246px] md:h-[258px] mb-[22px] text-center mx-auto">
        <img
          loading="eager"
          src="/images/logo.webp"
          alt="logo"
          class="w-full h-full object-cover"
        />
      </figure>
      <h1 class="text-white text-[40px] font-medium line-height-[56px] mb-3">
        {{ heroData()?.title }}
      </h1>

      <div
        [innerHTML]="heroData()?.description | customSanitize"
        class="editor text-sub-title mb-[20px] text-[#E4E4E4] line-height-[40px]"
      ></div>

      <div class="flex gap-x-[20px] items-center justify-center pt-[20px]">
        <a
          [routerLink]="['contact']"
          class="bg-alt-btn text-black rounded-[10px] leading-main py-[9px] md:px-[66px] px-8 font-normal"
        >
          {{ 'navbar.contact' | translate }}
        </a>

        <a
          [routerLink]="['about-us']"
          class="bg-main text-white rounded-[10px] leading-main py-[9px] md:px-[66px] px-8 font-normal"
        >
          {{ 'navbar.about' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
