.shape-image {
  content: '';
  position: absolute;
  top: 51px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 30px;
  border: 3px solid red;
  z-index: -1;
}

.custom-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
