<section>
  <div class="container">
    <h5 class="text-black mb-6 text-main-heading font-medium text-start">
      {{ 'banking-partners' | translate }}
    </h5>

    <!-- Tabs Navigation -->
    @if(partnersData?.length && partnersData.length > 0) {
    <!-- <div class="mb-8">
      <nav class="flex flex-wrap justify-evenly gap-2">
        @for(category of partnersData; track category.id; let i = $index) {
        <button
          type="button"
          class="cursor-pointer capitalize px-6 py-3 text-sub-title font-medium transition-colors duration-200"
          [class]="activeTab() === i ? 'text-main ' : 'text-black'"
          (click)="setActiveTab(i)"
        >
          {{ category.title.toLowerCase() }}
        </button>
        }
      </nav>
    </div> -->

    <!-- Tab Content with Carousel -->
    @for(category of partnersData; track category.id; let i = $index) { @if(activeTab() === i) {
    <div
      [class.ltr-carousel]="currentLang() === 'en'"
      [class.rtl-carousel]="currentLang() === 'ar'"
      class="tab-content"
    >
      <owl-carousel-o [options]="carouselOptions()">
        @for(partner of category.partners; track partner.id) {
        <ng-template carouselSlide>
          <div class="partner-card mx-2 p-6 rounded-2xl border bg-white h-full">
            <figure>
              <img
                class="w-24 h-24 object-contain mx-auto"
                [src]="partner.logo_url"
                [alt]="partner.name + ' logo'"
                loading="lazy"
              />
            </figure>
            <p
              [title]="partner.name"
              class="text-black text-center font-medium text-lg line-clamp-1"
            >
              {{ partner.name }}
            </p>
          </div>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
    } } }
  </div>
</section>
