<!-- create heere floating whatsapp  button to call +215-231-7657 -->
<div
  class="fixed bottom-4 z-50"
  [class]="{
    'left-4': translate === 'ar',
    'right-4': translate === 'en'
  }"
>
  <a
    [href]="'https://api.whatsapp.com/send?phone=2' + whatsappNumber"
    target="_blank"
    class="bg-green-500 text-white rounded-full flex items-center justify-center p-2 md:p-4"
  >
    <img
      loading="eager"
      class="w-[30px] h-[30px] md:w-[50px] md:h-[50px]"
      src="/images/WhatsApp_icon.webp"
      alt="Whatsapp connect"
    />
  </a>
</div>
